---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

import mainHall from "@images/locations/garage33/main-hall.jpeg";
import logoLandscape from "@images/nix-snowflake-hare-triskele-dark-blue.png";
---

<Layout title="Nix Community Paderborn">
  <Image
    src={logoLandscape}
    alt="Nix Community Paderborn"
    class="w-full object-contain px-2 pt-10 lg:pt-20 lg:px-12 max-w-screen-md mx-auto"
  />
  <div
    class="flex flex-col gap-8 max-w-screen-md mx-auto pb-20 pt-4 px-4 lg:px-0"
  >
    <h1 class="text-center">Nix(OS) Community Paderborn</h1>
    <div>
      <h2 class="pb-4">Communication</h2>
      <ul class="list-image-flake list-inside">
        <li>
          Matrix Chat Room: <a href="https://matrix.to/#/#paderborn:nixos.org"
            >#paderborn:nixos.org</a
          >
        </li>
      </ul>
    </div>

    <div class="flex flex-col gap-4">
      <h2>First Meetup</h2>
      <p>Date: 2025-05-08 Tuesday</p>
      <p>
        Location: <a href="/locations/garage33">garage33, Paderborn</a>
        Registration: <a
          href="https://cryptpad.fr/form/#/2/form/view/7z3usfXPYASkxl+Xmt97v8sVyHGofg-Dq-57AfOyow8/"
          >Please let us know you'll participate.</a
        >
      </p>
      <p>Time: 17:30 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>17:30: Get together</li>
        <li>18:00: Tech Talk</li>
        <li>19:00: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h2>Tech Talk: Introduction: What is Nix / NixOS?</h2>
      <p>
        This is intended as an introduction for those who arn't familiar with
        Nix yet.
      </p>
      <Image src={mainHall} alt="Main hall of garage33" />
    </div>
  </div>
</Layout>
