---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";

import logoLandscape from "@images/nix-snowflake-hare-triskele-dark-blue.png";

import mapMacro from "@images/locations/theos/map-macro.png";
import mapMicro from "@images/locations/theos/map-micro.png";
import door1 from "@images/locations/theos/door1.jpg";
import door2 from "@images/locations/theos/door2.jpg";
import door3 from "@images/locations/theos/door3.jpg";
import meetingRoom from "@images/locations/theos/meeting-room.jpg";
---

<Layout title="Nix Community Paderborn">
  <Image
    src={logoLandscape}
    alt="Nix Community Paderborn"
    class="w-full object-contain px-2 pt-10 lg:pt-20 lg:px-12 max-w-screen-md mx-auto"
  />
  <div
    class="flex flex-col gap-8 max-w-screen-md mx-auto pb-20 pt-4 px-4 lg:px-0"
  >
    <h1 class="text-center">Nix(OS) Community Paderborn</h1>
    <h2 class="text-center">Heinz-Nix-Dorf</h2>
    <div>
      <h2 class="pb-4">Hello!</h2>
      <p>We're currently planning a first meet-up. Check back for news!</p>
    </div>

    <!--<ul class="list-image-flake list-inside">
        <li>Whatsapp Group: <a href="https://chat.whatsapp.com/JSWO6lI7Ls5BrRxzpmYKuR">Join Here</a></li>
        <li>Matrix Chat Room: <a href="https://matrix.to/#/#habrawo:nixos.org">#habrawo:nixos.org</a></li>
        <li>Group organizer: Email jacek@applicative.systems, Matrix <a href="https://matrix.to/#/@tfc:matrix.org">@tfc:matrix.org</a></li>
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <h2>Next Meetup</h2>
      <p>Date: 2024-10-29 Tuesday</p>
      <p>Location: <a href="/locations/hafven-hannover">Hannover, Hafven</a></p>
      <p>Time: 18:00 - open end</p>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Tech Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
      <h2>
        Tech Talk: asecret - automatically provision secrets through
        configuration
      </h2>
      <p>
        Service configuration through Nix is a blast!: it is both easily
        discoverable and does not require expert knowledge. That fun is spoiled
        whenever we encounter secrets, since their generation usually is not as
        easily discoverable and does require expert knowledge. Can we maintain
        the fun when encountering secrets?
      </p>

      <h2>Last Meetup</h2>
      <p>Date: Tuesday, 2024-09-17</p>
      <p>
        Location: <a href="/locations/theos-coworking-space-braunschweig"
          >Braunschweig, Theos Coworking Space</a>
      </p>
      <p>Time: 18:00 - open end</p>

      <h3>Schedule</h3>
      <ul class="list-image-flake list-inside">
        <li>18:00: Get together</li>
        <li>18:20: Talk</li>
        <li>19:20: Discussion</li>
        <li>20:00: Restaurant or Bar (until open end)</li>
      </ul>
    </div>-->
  </div>
</Layout>
