---
interface Props {
  title: string;
}

const { title } = Astro.props;

import Footer from "../components/Footer.astro";

import "../style/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Nix Community Paderborn" />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="icon" type="image/svg+xml" href="/icon/favicon.svg" />
    {
      ["048", "096", "144", "180", "192", "240"].map((res) => (
        <link
          rel="icon"
          type="image/png"
          href={"/icon/icon-" + res + ".png"}
          sizes={res + "x" + res}
        />
      ))
    }

    <title>{title}</title>
  </head>
  <body>
    <main class="">
      <slot />
    </main>
    <Footer />
  </body>
</html>
